$border-radius = 10px

boxShdow()
    background-color: #fff
    border-radius: 10px
    box-shadow: 0 0 6px rgba(0,0,0,.1)
listP()
    font-size: .32rem
    color: #f69021
    padding: .1rem
    font-weight: 600